/* -----Adding Google fonts import----- */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap");

/* -----Overriding default styles added by the browser----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------------Body styles------------------------------ */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
/* -----Generic project styles----- */
  color: #3a3a3a;
  font-family: "Kanit", sans-serif;
}

/* ------------------------------Header Section------------------------------ */
header {
  background-color: #131313;
  padding: 0 1rem;
  position: absolute;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  top: 0;
}
/* -----Header Menu and Logo----- */
header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffffd7;
}

#logo {
  font-size: 130%;
  line-height: 25px;
  margin: 0 0.5rem;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
  color: rgba(255, 255, 255, 0.842);
}

.underscore {
  border-bottom: 1px solid #3a3a3a;
}

/* -----Navbar styles dropdown toggle----- */
nav {
  position: absolute;
  background-color: #131313;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

/* -----Nav toggle----- */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* ------------------------------Main content------------------------------ */
main {
  background-color: #0b0b0b;
  /* -----Element takes surplus space to push footer down----- */
  flex: 1 0 auto;
  margin-top: 47px;
}

/* -----Sign up form page----- */
form {
    text-align: center;
    max-width: 100%;
    padding: 20px;
    background-color: rgba(11, 11, 11, 0.84);
    color: #ffffff;
    border-radius: 10px;
}
        
h1,h2 {
    margin: 0;
}
        
.text-input {
    width: 100%;
    padding: 25px;
    text-align: center;
                    
}
        
.join-button {
    width: 25%;
    padding: 15px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.24);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
        
.join-button:hover {
    background-color: #3a3a3a;
                }

/* -----The hero-image Section----- */
#hero {
  background: url("../images/pexels-mark-plotz-2790396.webp") no-repeat center
    center/cover;
  position: relative;
  width: 100%;
  height: 600px;
  padding-bottom: 100px;
}

#hero-text {

  background-color: rgba(28, 32, 38, 0.84);
  font-size: 120%;
  position: absolute;
  bottom: 30px;
  width: 100%;
  min-height: 300px;
  padding-top: 10px;
  bottom: 0;
}
/* -----Font text for Hero-image----- */
#hero-text > h2,
#hero-text > h3 {
  color: #ffffff;
  text-align: center;
  font-size: 130%;

}

/* -----Read More Button for Hero-image----- */
.text-button {
    border: none;
    color: white;
    padding: 0px 26px;
    text-align: center;
    display: flex;
    font-size: 26px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#button1 {
    background-color: rgba(254, 172, 135, 0.64);
    color: white;
    padding: 10px 5px;
    width: 50%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

#button1:hover {
    background-color: #04aa6d;
    color: white;
}
/* -----Gallery properties----- */
div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  float: left;
  width: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------------------Footer Section------------------------------ */

footer {
  background-color: #131313;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* -----Social Media Icons----- */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* -----Footer hover color----- */
#social-networks i:hover {
  color: rgba(255, 255, 255, 0.548);
}

/* ---------------Media query: tablets and larger (768px and up)--------------- */
@media screen and (min-width: 768px) {

/* -----Header Menu----- */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
    font-size: 140%;
    letter-spacing: 4px;
    list-style-type: none;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
  
/* -----Social Media Icons----- */
  #social-networks i {
    font-size: 250%;
    padding: 5%;
    color: #3a3a3a;
  }

/* -----Sign up form page----- */
form {
        background-color: rgba(11, 11, 11, 0.84);
}

  .text-input {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.842);
  }

.join-button {
    width: 50%;
}

.join-button:hover {
    background-color: #3a3a3a;
}

/* -----Main content----- */

  main {
/* Make header larger and push down main content */
    margin-top: 79px;
  }

/* -----Gallery properties----- */

div.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    float: left;
    width: 33.3%;
}

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* -----Hero image text----- */

  #hero-text {
/* Final rgba value sets the opacity so it is semi-transparent */
      background-color: rgba(28, 32, 38, 0.84);
      font-size: 120%;
      position: absolute;
      bottom: 30px;
      width: 100%;
      min-height: 180px;
      padding-top: 10px;
      bottom: 0;
}

#button1 {
    background-color: rgba(254, 172, 135, 0.64);
    color: white;
    padding: 10px 5px;
    width: 20%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

/* -----Large devices - laptops and desktops (992px and up)----- */
@media screen and (min-width: 769px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

/* -----Gallery properties----- */

div.gallery img {
    width: 100%;
    height: 600px;
}

.responsive {
    float: left;
    width: 33.3%;
}

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/* -----Hero image text----- */
    
#hero-text {
    background-color: rgba(28, 32, 38, 0.84);
    font-size: 120%;
    position: absolute;
    bottom: 30px;
    width: 100%;
    min-height: 180px;
    padding-top: 10px;
    bottom: 0;
}

/* -----Sign up form page----- */

form {
    text-align: center;
    max-width: 100%;
    padding: 150px;
    background-color: rgba(11, 11, 11, 0.14);
    color: #ffffff;
    border-radius: 10px;
}

.text-input {
    width: 20%;
    padding: 25px;
    text-align: center;

}

.join-button {
    width: 5%;
}

.join-button:hover {
    background-color: #3a3a3a;
}

/* -----Read More Button for Hero-image----- */
.text-button {
    border: none;
    color: white;
    padding: 0px 26px;
    text-align: center;
    display: flex;
    font-size: 26px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#button1 {
    background-color: rgba(254, 172, 135, 0.64);
    color: white;
    padding: 10px 5px;
    width: 10%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
}

}
